.header-button::before,
.header-button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 8px;
  background-color: var(--color-primary-purple);
  transition: all 0.2s ease;
}
.header-button::before {
  background-image: var(--button-gradient);
}
.heading-line-2 {
  background: var(--heading-gradient-1);
}
.heading-line-3 {
  background: var(--heading-gradient-2);
}
.project-view::before,
.project-view::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: white;
  bottom: 3px;
  width: 100%;
  left: 0;
  transition: all 0.25s ease;
}
.project-view:hover::after {
  opacity: 0;
}
.project-view::before {
  background: -webkit-linear-gradient(
    360deg,
    var(--color-primary-light-purple),
    var(--color-primary-hotpink)
  );
}
.navbar-li::after {
  content: "";
  background-image: url(../assets/Images/icon-menu.svg);
  width: 48px;
  height: 48px;
  display: block;
  transition: all 0.25s ease;
  position: relative;
  z-index: 999;
}
.menu-nav:checked + .navbar-li::after {
  background-image: url(../assets/Images/icon-close.12e68e7b.svg);
}
.menu-nav:checked + .navbar-li + .nav-menu {
  display: flex;
}
.menu-nav:checked + .navbar-li + .nav-menu ul {
  animation: fade 0.25s linear forwards;
}
.nav-menu a {
  position: relative;
  z-index: 999;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.seperator-left {
  left: 0 !important;
  z-index: 999 !important;
}
.seperator-right {
  right: 0 !important;
  left: unset !important;
  z-index: 999 !important;
}
.header-title-app::after{
  content: "";
  position: absolute;
  background-image: var(--button-gradient);
  bottom: -3px;
  left: 0;
  right: 0;
  height: 5px;
}