@media screen and (max-width: 840px) {
  .wrapper-div,
  .footer-container {
    padding-inline: 0.5rem !important;
  }
  .display-none-800 {
    display: none;
  }
  .width-100-800 {
    width: 100%;
    max-width: 100%;
  }
  .grid-column-1-800 {
    grid-template-columns: 1fr;
  }
  .flex-column-800 {
    flex-direction: column;
  }
  .heading-line-2,
  .heading-line-3 {
    display: inline;
  }
  .nav-ul{
    place-items: flex-start;
  }
  .header-para-about{
    padding-right: 1rem;
  }
  .card-achivements{
    flex-direction: column;
  }
}
